<html ng-app="ForgotPassword">
	<head>
		<!------------ Style Sheet------------------------------->
		<link href="./../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="./../bootstrap/css/custom.css" rel="stylesheet">
		<script src="./../jquery.js"></script>
		<script src="./../angular.min.js"></script>
		<script src="./../ngDraggable.js"></script>
		<script src="./../model/Model.js"></script>
		<script src="./../controller/forgotPassword.js"></script>
		<script>
			window.onload = function()
			{
			function querySt(ji) {

		    	hu = window.location.search.substring(1);
		    	gy = hu.split("&");

		    	for (i=0;i<gy.length;i++) {
		        	ft = gy[i].split("=");
		        	if (ft[0] == ji) {
		            	return ft[1];
		        	}
		    	}
			}
			var emailid = querySt("email");
			document.getElementById('email').value = emailid;
			}
		</script>
		<!---#eb8024--->
	</head>
	<body>
		<!--------------Navbar start----------------------------->
		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Virtual Scrumboard</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse pull-right">
			  <ul class="nav navbar-nav">
				<!--<li class="active"><a href="#">Home</a></li>
				<li class="active"><a href="#about" >About</a></li>--->
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		<!--------------Navbar closed----------------------------->
		<!--------------Main Content Start------------------------>
		<div class="container theme-showcase" role="main">
			<div class="jumbotron">
				<!-------table start----------------------------->
			
					<div class="panel panel-default col-md-5 col-md-offset-3 marginTop10 padding0">
						  <div class="panel-heading">Forgot Password
						  </div>
						  <div class="panel-body padding50">
							 <!-- Form Begins-->
							<form class="form-horizontal" name="resetfrm" novalidate ng-controller="ResetValidation"> 
								<div class="row" align="center"><h4>   Enter a new password here  </h4></div>
											
								<div class="form-group">
                            		<label id="label" class="control-label"></label>
                            		<input type="text" ng-model="emailId" class="form-control" id="email" disabled>
                            		<input type="password" class="form-control" ng-model="ResetUser.resetpass" name="resetpass" placeholder="Enter password" autocomplete="off" required>
									<span class="msg" ng-show="resetfrm.resetpass.$dirty && resetfrm.resetpass.$error.minlength">password must contain atleast 5 characters</span>
                            		<!-- <span class="msg" ng-show="resetfrm.resetpass.$dirty && resetfrm.resetpass.$error.maxlength">max-length of password reached</span> -->
                        		</div>
		
								<!-- Buttons-->
												
								<div class="form-group">
                            		<input ng-disabled="resetfrm.$invalid" class="btn btn-warning" type="submit" ng-click="reset()" value="Confirm">
                        		</div>
							</form>
						  </div>
					</div>
				</div>
			<!-----------------table ends-------------------------------->
			</div>
		<!--------------Main Content Ends------------------------>
		<!--------------Footer------------------------------>
		
	</body>
</html>